<div *ngIf ="registerMode" class="container mt-5"> 
  <div style="text-align: center">
    <h1>Find your match </h1>
    <p>Come on into view your matchess.... all you need to do is sign up! </p>
    <div class="text-center"> 
        <button (click ) ="registerToggle()" class="btn-primary btn-lg mr-2 ">Register</button>
        <button class="btn-primary btn-lg ">Learn more</button>
         </div>
</div>

<div *ngIf ="registerMode" class="container"> 
    <div class="row justfy-content-center">
        <div class="col-4">
            <app-register (cancelRegister)="cancelregisterMode($event)"></app-register>
        </div>
    </div>
</div>
</div>
